.full-content {
  padding: 20px;
}

.titles {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}

.tokens {
  margin: auto;
  padding: 20px;
  background-color: var(--color-bg-layer2);
  border-radius: 10px;

  width: 95%;
  max-width: 780px;
  height: auto;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);

  .token {
    width: 150px;
    height: 160px;
    border-radius: 10px;
    background-color: black;
    transition: 0.4s;

    .card-image {
      background-position: center;
      background-size: cover;

      border-radius: 10px;
      height: 100%;
      width: 100%;
    }

    .card-image:hover {
      opacity: 0.9;
    }
  }
}

@media only screen and (max-width: 1020px) {
  .cards-grid {
    max-width: 515px !important;
  }
}

@media only screen and (max-width: 726px) {
  .cards-grid {
    padding: 20px 0;
    max-width: 250px !important;
  }
}
